@charset "UTF-8";

:root {
    --cor0:#3C7ACA;
    --cor1:#4A6FA0;
    --cor2:#1F7CF5;
    --cor3:#4A5D75;
    --cor4:#3C424B;
    --cor5:#2B2E33;
    --cor6:#ffffff;

    --fonte-padrao: Arial, Verdana, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--cor5);
    font-family: var(--fonte-padrao);
}

header {
    text-align: center;
    color: var(--cor2);
    padding-top: 20px;
    background-color: var(--cor2);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}



header > h1 {
    padding-bottom: 30px;
    font-weight: bolder;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);
    font-size: 3em;
    color: var(--cor6);
}

header p {
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.473);
    font-size: 1.5em;
    max-width: 100px;
    display: inline;
    padding-bottom: 30px;
}

nav {
    padding: 20px 5px;
    text-align: left;
   max-width: 800px;
    margin: auto;

}

nav > a {
    background-color: #0000006c;
    color: var(--cor6);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
    border-radius: 3px;

}

nav a:hover {
    background-color: #4A5D75;
    color: #ffffff;
    text-decoration: none;
}

main {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding-top: 20px;
    padding: 10px;
    background-color: var(--cor6);
    border-radius: 10px;
}

main h2 {
    background-image: linear-gradient(to right, var(--cor5), var(--cor4),white);
    color: white;
    padding: 5px;
    font-family: var(--fonte-destaque);
}

p   {
    padding: 10px;
    padding-top: 20px;
    line-height: 1.3;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
}

ul {
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    line-height: 1.3;
    list-style-type: square;
    padding-left: 30px;
   
}

p > a, li > a {
    text-decoration: none;
    color: #4A5D75;
    font-weight: bold;
    padding: 0px 3px;
}

p > a:hover, li > a:hover {
    background-color: #4a5d759f;
    color: #ffffff;
    text-decoration: underline;
}

footer > p {
    text-align: center;
    background-color: #000000;
    color: #3C7ACA;
}

footer > p > a {
    color: #1F7CF5;
    text-decoration: underline;

}